<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="partials/head :: head('Registration')"></head>
<body>
<nav th:replace="partials/navbar :: navbar"></nav>
<h1>Create an account</h1>
<form th:action="@{/sign-up}" th:method="POST" th:object="${user}">
  <label for="username">Username</label>
  <input id="username" th:field="*{username}" />

  <label for="email">Email</label>
  <input id="email" th:field="*{email}" />

  <label for="password">Password</label>
  <input id="password" type="password" th:field="*{password}">
  <input value="Sign up" type="submit">
</form>



<div th:replace="partials/scripts :: scripts"></div>
</body>
</html>
